.about {
	padding: 0;
.container {}
.about__block {
	display: flex;
	padding-top: 118px;
}
.block-img {

}
.block-text {
flex:0 1 70%;	
display: flex;
flex-direction: column;
justify-content: center;
padding: 0 80px;

p{
	margin-bottom: 40px;
	line-height: 1.65;

}
}

h4{
	margin-bottom: 45px;
	font-size: 18px;

}

  a{
  color: #fff;
  position: relative;

 }

}


