@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
   max-width: 100%;
   height: auto;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  font:400 16px/1 'Roboto', Arial, Tahoma, Verdana, sans-serif;
  // background: #C6FFDD;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 100% auto;
}

.wrapper {
  overflow: hidden;
}

.section{
  padding: 120px 0;
}

.title30{
  font-size: 40px;
  color: $black;
  font-family: 'Raleway',sans-serif;
  font-weight: 900;
  margin-bottom: 34px;
}

.subtitle16{
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  font-size: 16px;

  &--margin{
    margin-bottom: 17px;
    color: $subtitle;
  }
}

.title__block{
  text-align: center;
  margin-bottom: 64px;
}


.gradient{
background:linear-gradient(35deg, #fff,#91eae4,#86a8e7,#7f7fd5);  /* Chrome 10-25, Safari 5.1-6 */
background-size: 200% 200%;

animation:gradient 5s ease infinite;

}
@keyframes gradient{

0%{
background-position: 0 50%;

}

50%{
  background-position: 100% 50%;
}

100%{
background-position: 0 50%;

}

}



.grid{
  flex-wrap:wrap;
  display: flex;
  // justify-content: space-between;
  // margin-top: -7px;
  width: 100%;
}

.col{
 height: 270px;
 padding: 7px;


&--inner{
  
  display: flex;
  align-items:center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 100%;
  flex-direction:column;

  &.light-blue{
    background-color: #10c6fc;
  }

  &.light-purple{
    background-color: #835aeb;
  }

  &.light-darckblue{
    background-color: #002453;
  }

  &.light-red{
    background-color: #ff2b4a;
  }


}

  &--25{
    @extend .col;
    width: 25%;
  }

  &--50{
     @extend .col;
    width: 50%;
  }

&--gradient{
background: -moz-linear-gradient(45deg,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 1%, rgba(0,0,0,0.01) 99%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 1%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%);
background: linear-gradient(45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 1%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );

}

}

.title-26{
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  color: $white;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-weight: 500;
}

#second{
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
}



  .button{
  background:$button;
  color:$white;
  font-size: 14px;
  padding:13px 15px;
  min-width: 200px;
  margin: 0;
  width: auto;
  height: auto;
  display: inline-block;
  text-transform: uppercase;
  border:0px;
  color: $white;
  text-align: center;

  }


input[type='text'],
input[type='email'],
textarea{
  display: inline-block;
  width: 100%;
  background: none;
  outline: none;
  border: 1px solid $grey;
  padding: 16px 16px;
  font-size: 16px;
  color: $grey;
  margin-bottom: 25px;
}
 
textarea{
  height: 204px;
  resize:none;
}

address{
  font-style: normal;
}



