.exp{
	
}



.grid{

	&--exp{
		display: flex;
		
	}
}

.col{


&--50{
	height: auto;
	
}

&--gradient{
	margin: 0 7px;
	padding: 60px 40px;
}

&--inner-body{

& + .col--inner-body{
	border-top: 1px solid $grey;
	padding-top: 34px;
}

}


}


.data{
	display: block;
	margin-bottom: 15px;
	color: $data;
	font-size: 16px;
	font-weight: 500;
}

.text{
	font-size: 16px;
	color: $text;
	line-height: calc(23/16);
	margin-bottom: 32px;
}





