.footer{
	background: #222222;
	padding: 60px 0;

&__sociale{
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;
	color: $data;
}

.sociale-block{
display: flex;
margin-bottom: 20px;
}

a{
	margin: 0 6px;
}

.active{

}

li{
padding:0 6px;
	border-right: 1px solid $text;
}

li:last-child{
		border-right:0;
}


img{
	display: inline-block;
	width: 19px;
	height: 19px;
  
}



}