.main{
	height: 100vh;
	min-height: 420px;

	.container{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content: center;
		height: 100%;
	}

	h1{
		font-family: Raleway, sans-serif;
		font-weight: 900;
		color:$white;
		font-size: 65px;
		text-transform: uppercase;
		padding: 15px 0;
		border-top:2px solid rgba(255,255,255,.75);
		border-bottom:2px solid rgba(255,255,255,.75);
		display: inline-block;
		position: relative;
	}

	&__content{
margin-top: -20px;
display: flex;
font-size: 18px;
z-index: 1;
a{
	margin: 0 50px;
	color:$white;
  
	}
}


}