.process {
background: #f6f6f6;


.container {
	
}



.process__subtitle{

}

.process__title{
  margin-bottom: 34px;

}

p{
  margin: 0px 0 40px;
  text-transform: uppercase;
  color:$white;

}

.grid {
  
  img{
    max-height: 34px;
    margin: 0 0 45px;
    display: block;
  }

  

}



}